@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@theme {
  --font-sans: 'Roboto', sans-serif;
  --color-primary: #10b981;
  --color-primary-dark: #059669;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom Leaflet Geofence Popup Override */
.custom-geofence-popup .leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 1rem !important;
}
.custom-geofence-popup .leaflet-popup-content {
  margin: 0 !important;
  line-height: inherit !important;
}