@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@theme {
  --font-sans: 'Lato', sans-serif;
  --color-primary: #10b981;
  --color-primary-dark: #059669;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}

html {
  scroll-behavior: smooth;
}
